@page "/counter"
@rendermode InteractiveServer

<MudItem xs="8" sm="3">
    <MudButton  Variant="Variant.Filled" Color="Color.Error">Filtrele</MudButton>
</MudItem>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
